.top {
  position: fixed;
  top: 0;
  padding: 0px !important;
  margin-top: 0px;
  height: 120px;
  width: 100%;
  background: #3880ff;
  z-index: 2;
}

.content {
  z-index: 1;
  margin-top: 100px;
  padding-top: 20px;
  position: relative;
}

.background {
  position: absolute;
  top: -10;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 0;
  background: #3880ff;
  padding: 0px;
  top: 0;
}

.white-color {
  color: #ffffff;
}

.four-icon {
  margin-top: 10px;
}

.top-icon {
  font-size: 15px;
}

.logo-bitcoin {
  font-size: 40px;
}

.trf-text {
  font-weight: 900;
}
