.fullheight {
  height: 100%;
}

.fullwidth {
  width: 100%;
}

.xc {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img-logo {
  margin: auto;
  width: 100px;
  height: 100px;
}
